/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');
/* @import url('./timer.css'); */
/* @import url('./footer.css'); */
/* @import url('./vite-promo.css'); */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  color: #2e2f42;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 36px 0;
}

.form input {
  width: 300px;
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  border: 1px solid #808080;
  font-size: 14px;
  outline: none;
  transition: border 250ms ease;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 6px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.form button:hover {
  background-color: #6c8cff;
}

.gallery {
  max-width: 1128px;
  margin: 0 auto 40px;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 4px;
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  background-color: #fafafa;
  border-top: 1px solid #808080;
}

.info p {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.info b {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

.loader-text {
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
}

.load-more {
  display: block;
  margin: 0 auto 40px;
  padding: 10px 20px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #6c8cff;
}

.hidden {
  display: none;
}
